<?xml version="1.0" encoding="UTF-8"?>
<!-- @author  Rafael Barros <rafaelbarros.df@gmail.com> -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <!-- This file have to be present (even though it is empty) in order for war packaging to work. -->
</web-app>