<!-- @author  Rafael Barros <rafaelbarros.df@gmail.com> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="usuario" class="br.com.developer.model.Usuario" />

    <bean id="usuarioService" class="br.com.developer.service.impl.UsuarioServiceImpl" >
        <property name="usuario" ref="usuario" />
    </bean>

    <bean id="usuarioSpringAction" class="br.com.developer.action.UsuarioSpringAction">
        <property name="usuarioService" ref="usuarioService" />
    </bean>

</beans>